interactions:
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://planetpython.org/rss20.xml
  response:
    body:
      string: "<?xml version=\"1.0\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\">\n\n<channel>\n\t<title>Planet
        Python</title>\n\t<link>http://planetpython.org/</link>\n\t<language>en</language>\n\t<description>Planet
        Python - http://planetpython.org/</description>\n\n<item>\n\t<title>Wingware:
        Wing Python IDE Version 12 - July 20, 2026</title>\n\t<guid>https://wingware.com/news/2026-07-20</guid>\n\t<link>https://wingware.com/news/2026-07-20</link>\n\t<description>&lt;p&gt;Wing
        Python IDE version 12 has been released. Wing 12 integrates the Claude\nCode
        AI coding agent directly into the IDE, with a new &lt;tt class=&quot;literal&quot;&gt;&lt;span
        class=&quot;pre&quot;&gt;Claude&lt;/span&gt; &lt;span class=&quot;pre&quot;&gt;Code&lt;/span&gt;&lt;/tt&gt;
        tool,\na &lt;tt class=&quot;literal&quot;&gt;&lt;span class=&[...]
